@media (max-width: 900px) {
  .welcome-article,
  .about-grid,
  .contact-grid,
  .blogpost-content {
    display: flex;
    flex-direction: column;
  }
  .welcome-article img {
    width: 100%;
  }
}
