@media only screen and (max-width: 1000px) {
  .welcome-article,
  .about-grid,
  .contact-grid,
  .blogpost-content {
    display: flex;
    flex-direction: column;
  }

  .nav ul {
    text-decoration: none;
    font-size: 1em;
    text-align: center;

    justify-content: space-evenly;
  }
  nav li {
    display: none;
  }
  footer {
    display: flex;
    flex-direction: column;
  }

  #hamburger-menu:checked ~ nav li {
    display: flex;
    justify-content: space-evenly;
  }

  .hamburger-icon {
    display: block;
  }
}
