@media (max-width: 900px) {
  .welcome-article,
  .about-grid,
  .contact-grid,
  .blogpost-content {
    display: flex;
    flex-direction: column;
  }
  .welcome-article img {
    width: 100%;
  }
}

.nav ul {
  text-decoration: none;
  font-size: 1em;
  text-align: center;
}
